alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
asgiref==3.5.2
astroid==2.11.6
asttokens==2.0.8
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
black==22.6.0
bleach==5.0.1
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.6
Django==4.1.2
docutils==0.19
entrypoints==0.4
esbonio==0.14.1
executing==1.1.1
fasteners==0.18
fastjsonschema==2.16.2
filelock==3.8.0
fonttools==4.31.2
idna==3.3
imagesize==1.4.1
inflect==5.6.2
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.4.1
jupyterlab-pygments==0.2.2
kiwisolver==1.4.0
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
mypy-extensions==0.4.3
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.7.0
nest-asyncio==1.5.6
notebook==6.4.12
numcodecs==0.10.2
numpy==1.22.3
packaging==21.3
pandas==1.5.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.2
playsound==1.3.0
plotly==5.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psutil==5.9.2
pure-eval==0.2.2
pycparser==2.21
pydantic==1.9.2
pyfiglet==0.8.post1
pygame==2.1.2
pygls==0.12.2
Pygments==2.13.0
pylint==2.14.3
pyparsing==3.0.7
pyrsistent==0.18.1
pyspellchecker==0.7.0
python-dateutil==2.8.2
pytz==2022.2.1
pywikibot==7.1.0
pywin32==304
pywinpty==2.0.8
pyzmq==24.0.1
regex==2022.3.15
requests==2.27.1
seaborn==0.12.0
Send2Trash==1.8.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.3
stack-data==0.5.1
tenacity==8.0.1
terminado==0.16.0
tinycss2==1.1.1
tomli==2.0.1
tomlkit==0.11.0
tornado==6.2
traitlets==5.4.0
typeguard==2.13.3
typing_extensions==4.4.0
tzdata==2022.4
urllib3==1.26.9
virtualenv==20.16.5
wcwidth==0.2.5
webencodings==0.5.1
wikitextparser==0.48.2
wrapt==1.14.1
zarr==2.13.3
